<a href="https://colab.research.google.com/github/jake0213/python2020/blob/main/2_0_python%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E5%90%84%E7%A8%AE%E9%81%8B%E7%AE%97_20201026.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#鄭竣維在崑山科技大學受恩師龍大大洗禮
20201026

# Python有眾多資料型態(data Type)及其各種運算
```
    >* 數值(Numeric)資料及其運算
    >* 字串(string)及其運算
    >* 列表(list)資料及其運算
    >* 字典(dict)資料及其運算  
    >*[自我練習]tuple資料及其運算  
    >*[自我練習]set資料及其運算  
```
```
 本課程規劃讓同學快速掌握python程式的開發技術
 還有更多技術及細節 請務必閱讀更多教材深入
```

# 資料型態(Data Type)學習重點:
```
各種運算
各種內建函數
型態轉換
運算優先順序
```

[進階範例]底下程式執行後結果為何?
```
from queue import Queue
q = Queue()
q.put(1)
q.put(2)
q.put(3)
q
print(q.queue)

q.get()
 ```

# 快速入門 

# [1]數值(Numeric)資料及其運算
```
Python 支持三種不同的數值型別(Data Type)：

[1]Int 整數，是可以是正或負整數，不帶小數點。
   Python3  int是沒有限制大小的，可以當作 Long 類型使用，所以 Python3 沒有 Python2 的 Long 類型。

[2]浮點數(float) :由整數部分與小數部分組成，浮點型也可以使用科學計數法表示（2.5e2 = 2.5 x 10 0 = 250）

[3]複數( (complex)) - 複數由實數部分和虛數部分構成，可以用a + bj,或者complex(a,b)表示， 複數的實部a和虛部b都是浮點型。

https://www.w3schools.com/python/python_exercises.asp
```

[實作練習]底下程式執行後結果為何?
```
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c
```

In [ ]:
a = 17 / 3
b = 17 // 3
c = 17 % 3
 
a,b,c

(5.666666666666667, 5, 2)

# [2]字串(string)及其運算

```
字串(string)
變數值以一對雙引號 (「"」)或單引號 (「'」)
存取字串中的值: 使用方括號
```

[實作練習]底下程式執行後結果為何?
```
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])
```

In [ ]:
var1 = 'Hello Python!'
 
print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8])

var1[0]:  H
var1[1:8]:  ello Py

[實作練習] 填入程式使輸出為 Hello World!
```
var1 = 'Hello Python!'

print("var1[1:8]: ", var1[1:8])
```

In [ ]:
var1 = 'Hello Python!'
 
print("var1[1:8]: ", var1[1:8])

var1[1:8]:  ello Py

# [3]列表(list)資料及其運算
```
LIST是 Python 中最基本的資料結構。
LIST使用一個方括號內的逗號分隔值出現。

LIST的每個值都有對應的位置，稱之為索引( index)，
第一個索引是 0，第二個索引是 1，依此類推。

LIST都可以進行的操作包括索引，切片，加，乘，檢查成員。

Python 內建許多函數: 
1.len(list):元素個數
2.max(list)返回元素最大值
3.min(list):返回元素最小值
```



底下程式執行後結果為何?
```
list1 = [21, 33, 14, 12, 32, 98]

list1[1]
```

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]
 
list1[1]

33

底下程式執行後結果為何?
```
list1 = [21, 33, 14, 12, 32, 98]

list1[-2]
```

In [ ]:
list1 = [21, 33, 14, 12, 32, 98]
 
list1[-2]

32

底下程式執行後結果為何?
```
len(list1)
```

In [ ]:
len(list1)

6

底下程式執行後結果為何?
```
max(list1)
```

In [ ]:
max(list1)

98

底下程式執行後結果為何?
```
min(list1)
```

In [ ]:
min(list1)

12

底下程式執行後結果為何?
```
sum(list1)
```

In [ ]:
sum(list1)

210

# [4]字典(dict)資料及其運算 
```
字典的每筆資料都使用key(鍵)=>value(值) pair(對)
每筆資料都使用冒號 : 分割
每對之間用逗號(,)分割，
整個字典包括在花括弧 {} 

key(鍵)必須是唯一的，但value(值)則不必。

Python 內建許多函數: 
	len(dict):計算字典元素個數，即鍵的總數。


Python 內建許多方法(Method):
字典.items():以列表返回LIST陣列
字典.keys():返回所有keys
字典.values():返回所有values
```

底下程式執行後結果為何?
``` 
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
 
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])
```

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
 
print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

底下程式執行後結果為何?
```
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()
```

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

[程式比較]和上述程式輸出有何不同?
```
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())
```

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())

[('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')]


```
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())
```

In [ ]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']